{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% block admin_form %}

  {{ super() }}

  <h3>Custom configuration options </h3>

  {{ form.textarea('ckan.branding.featured_categories', id='field-ckan.branding.featured_categories', label=_('Featured Categories'), value=data['ckan.branding.featured_categories'], error=errors['ckan.branding.featured_categories']) }}
  {{ form.textarea('ckan.branding.featured_datasets', id='field-ckan.branding.featured_datasets', label=_('Featured Datasets'), value=data['ckan.branding.featured_datasets'], error=errors['ckan.branding.featured_datasets']) }}

{% endblock %}
