{% set tags = h.get_facet_items_dict('tags', c.search_facets, limit=3) %}
{% set placeholder = _('E.g. environment') %}

<div class="">
  <h2 class="text-center font-4xl">{{ _("Search data") }}</h2>
  <form class="module-content search-form !border-b-0 !mb-0" method="get" action="{% url_for 'dataset.search' %}">
    <div class="search-input form-group search-giant w-2/3 mx-auto">
      <input aria-label="{% block header_site_search_label %}{{ _('Search datasets') }}{% endblock %}" id="field-main-search" type="text" class="form-control" name="q" value="" autocomplete="off" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
      <button type="submit" aria-labelledby="search-label">
        <i class="fa fa-search"></i>
        <span class="sr-only" id="search-label">{{ _('Search') }}</span>
      </button>
    </div>
  </form>
  <div class="mt-2">
    <h2 class="text-center font-4xl mt-0">{{ _('Popular tags') }}</h2>
    <div class="flex flex-wrap gap-4 items-center justify-center">
    {% for tag in tags %}
      <a class="bg-primary px-3 py-1 rounded-full text-white" href="{% url_for 'dataset.search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
    {% endfor %}
    </div>
  </div>
</div>
