body, .main {
    background: white !important;
  }
  .masthead {
    background: #141F40 !important;
  }
  .site-footer {
    background: #7568FC !important;
  }
  .account-masthead {
    background: #78d3f4 !important;
  }
  .account-masthead .account ul li {
    border-color: white !important;
  }
  .account-masthead .account ul li a {
    color: #141F40 !important;
  }
  .account-masthead .account ul li a:hover {
    color: white !important;
  }
  .main.hero {
    background: url(/bg.svg) center right !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
  }
